@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GitHub Commint Testing</h1>
    <p>The repository link for this project test is <a href="https://github.com/renzochong/GithubCommint.git">here</a>.</p>
</div>
